input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    }
  
button:hover {
    opacity: 0.8;
    }

.container2 {
    width: 50%;
    background:rgb(228, 228, 241);
    text-align: center;
    position: relative;
    margin-left: 370px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px #111f42;
    padding: 30px 40px;
  }
  .container3 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
span.psw {
    float: left;
    }

span.reg {
    float: right;
    }

  